<% layout('layout') %>
<h1>Панель управления</h1>
<div class="cards">
  <% stats.forEach(s => { %>
    <div class="card">
      <div class="card-title"><%= s.status %></div>
      <div class="card-value"><%= s._count._all %></div>
    </div>
  <% }) %>
</div>

